<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 spacer">
      Descripción: <%= f.text_field :description %>, una de éstas (unidades) <%= f.text_field :unit %> quema <%= f.text_field :calories %> calorías
    </div>
  </div>

  <div class="hidden"><%= f.check_box :approved %></div>

  <div class="spacer">
    <h2>Ejemplo</h2>
    Descripción: <b>Nadar</b>, una de éstas (unidades) <b>minutos</b> quema <b>12.5</b> calorías<br>
  </div>

  <div class="actions spacer">
    <%= f.submit %>
  </div>

<% end %>
