<p id="notice"><%= notice %></p>

<div class="row">
    <p class="col-md-3">
      <strong>Description:</strong>
      <%= @activity.description %>
    </p>
</div>
<div class="row">
    <p class="col-md-3">
      <strong>Calories:</strong>
      <%= @activity.calories %>
    </p>
</div>
<div class="row">
    <p class="col-md-3">
      <strong>Unit:</strong>
      <%= @activity.unit %>
    </p>
</div>

<%= link_to 'Back', root_url %>
