<h1>Listing snacks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snacks.each do |snack| %>
      <tr>
        <td><%= link_to snack.name, snack %></td>
        <td><%= snack.calories %></td>
        <td><%= link_to 'Modificar', edit_snack_path(snack) %></td>
        <td><%= link_to 'Eliminar', snack, method: :delete, data: { confirm: '¿Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snack', new_snack_path %>
