<p id="notice"><%= notice %></p>

<div class="row">
  <p class="col-md-5">
    <strong>Name:</strong>
    <%= @snack.name %>
  </p>
</div>
<div class="row">
  <p class="col-md-5">
    <strong>Calories:</strong>
    <%= @snack.calories %>
  </p>
</div>

<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-3">Equivalente a</th>
        </tr>
    </thead>
    <tbody>
        <% @tuples.each do |tuple| %>
            <tr class="row">
                <td class="col-md-3"><%= tuple[:activity] %> <%= tuple[:quantity] %> <%= tuple[:unit] %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', root_path %>
