<p id="notice"><%= notice %></p>

<div class="row">
  <p class="col-md-5">
    <h2 class="text-center">
        <%= @snack.name %>
    </h2>
  </p>
</div>
<div class="row">
  <p class="col-md-5">
    <h2 class="text-center">
        <%= @snack.calories %> Calorías
    </h2>
  </p>
</div>

<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-3">Equivalente a</th>
        </tr>
    </thead>
    <tbody>
        <% @tuples.each do |tuple| %>
            <tr class="row">
                <td class="col-md-3"><%= tuple[:activity] %> <%= tuple[:quantity] %> <%= tuple[:unit] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
